<% include head %>
<%
// TODO: why can't we see the variable "users" from here?
function find_user(u, userid) {
  for (var i = 0; i < u.length; i++) {
    if (u[i].rowid == userid)
      return u[i];
  }
  return null;
}
%>
<h2>Projects</h2>
<form action="/add_project" method="post">
  URL: <input name="url" type="text">
  <button type="submit">Add project</button>
</form>
<% for (var i = 0; i < projects.length; i++) {
  var project = projects[i];
  %>
    <a href="<%= project.url %>"><%= project.url %></a>
    <% if (!project.partitioned) { %>
      | <a href="/partition/<%= project.rowid %>">Partition</a>
    <% } %><br>
<% } %>
<% include foot %>
